* {
  --yellow: #f5fd53;
  --white: #ffffff;
  --black: #090a0a;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  hyphens: auto;
}

h1 {
  color: var(--yellow);
  font-family: Dansestudiet Simple;
  font-size: 11rem;
  font-style: normal;
  font-weight: 700;
}

h2,
h3,
p,
ul,
li {
  font-family: Avenir;
}
