

<section class="testimonial">
    <div>
        <img src="../svg/citat.svg" alt="">
    </div>
    <div class="citatTxt">
        <h2>AT STARTE PÅ DANSESTUDIET HAR VÆRET DEN BEDSTE OPLEVELSE. JEG FØLER MIG ACCEPTERET OG GLAD I MIN KROP OG MIN DANS. </h2>
        <br>
        <p>KATRINE ANDERSEN</p>
    </div>

</section>

<style>
    .testimonial {
        margin: 10rem;
        display: flex;
        gap: 10rem;
    }

    .citatTxt {
        text-align: right;
        padding-top: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 300;
    }

    p {
        font-style: italic;
    }
</style>