
<div class="video-container">
    <div class="video1">
      <video controls>
    <source src="../video/mette_video.mp4" type="video/mp4">
</video>
</div>
<div class="video2">
    <video controls>
  <source src="../video/elvin_video.mp4" type="video/mp4">
</video>
</div>
<div class="video3">
    <video controls>
  <source src="../video/johanne_video.mp4" type="video/mp4">
</video>
</div>

  <style>
    video {
        width: 100%;
      height: auto;
      margin:2em;
    }
.video1, .video2, .video3 {
    margin: 1.5em;
}
    .video-container {
      display: flex;
      justify-content: space-between;el
      max-width: 1200px;
      margin: 0 auto;
    }

  </style>
