
<div class="video-container">
    <div class="video">
      <video controls>
    <source src="../video/mette_video.mp4" type="video/mp4">
</video>
</div>
<div class="video">
    <video controls>
  <source src="../video/elvin_video.mp4" type="video/mp4">
</video>
</div>
<div class="video">
    <video controls>
  <source src="../video/johanne_video.mp4" type="video/mp4">
</video>
</div>

  <style>
    video {
        width: 100%;
      height: auto;
    }

    .video-container {
      display: flex;
      justify-content: space-between;el
      max-width: 1200px;
      margin: 0 auto;
    }

  </style>
