---

---

<footer>
    <section class="info">
        <div>
            <h2>Kontakt</h2>
            <ul>
                <li>Dansestudiet Aarhus</li>
                <li>Bissensgade 14 B</li>
                <li>8000 Aarhus C</li>
                <li>E-mail: info@dansestudiet.dk</li>
                <li>Telefon: 40102229</li>
                <li>CVR-nummer: 41118687</li>
            </ul>
        </div>
        <div>
            <h2>Åbningstider</h2>
            <ul>
                <li>Mandag 09.00 - 21.00</li>
                <li>Tirsdag 09.30 - 21.00</li>
                <li>Onsdag 16.00 - 21.00</li>
                <li>Torsdag 08.00 - 21.00</li>
                <li>Fredag 08.00 - 17.30</li>
                <li>Lørdag 10.00 - 11.00</li>
            </ul>
        </div>
        <div>
            <h2>Kommende begivenheder</h2>
            <ul>
                <li>Stabilitetstræning & Stræk</li>
                <li>Mandag kl. 08:30 - 09:30</li>
            </ul>
            <ul>
                <li>Street Dance Teens</li>
                <li>Mandag kl. 16:00 - 17:00</li>
            </ul>
        </div>
    </section>
    <section class="SoMe">
        <div class="icons">
            <img src="../svg/fb.svg" alt="Facebook ikon">
            <img src="../svg/insta.svg" alt="Instagram ikon">
            <img src="../svg/kort.svg" alt="Kort ikon">
            <img src="../svg/mail.svg" alt="Mail ikon">
            <img src="../svg/mobil.svg" alt="Mobil ikon">
        </div>
        <p>@Dansestudiet 2023</p>
    </section>
</footer>

<style>
    .info {
        background-color: var(--white);
        display: flex;
        justify-content: space-around;
    }

    .info ul {
        list-style-type: none;
    }

    .SoMe {
        background-color: var(--yellow);
        text-align: center;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
</style>