---

---

<footer>
    <section class="info">
        <div>
            <h2>Kontakt</h2>
            <ul>
                <li>Dansestudiet Aarhus</li>
                <li>Bissensgade 14 B</li>
                <li>8000 Aarhus C</li>
                <li>E-mail: info@dansestudiet.dk</li>
                <li>Telefon: 40102229</li>
                <li>CVR-nummer: 41118687</li>
            </ul>
        </div>
        <div>
            <h2>Åbningstider</h2>
            <ul>
                <li>Mandag 09.00 - 21.00</li>
                <li>Tirsdag 09.30 - 21.00</li>
                <li>Onsdag 16.00 - 21.00</li>
                <li>Torsdag 08.00 - 21.00</li>
                <li>Fredag 08.00 - 17.30</li>
                <li>Lørdag 10.00 - 11.00</li>
            </ul>
        </div>
        <div>
            <h2>Kommende begivenheder</h2>
            <ul class="begivenheder">
                <div class="boks">
                    <li><strong>Stabilitetstræning & Stræk</strong></li>
                    <li>Mandag kl. 08:30 - 09:30</li>
                </div>
                <div class="boks">
                    <li><strong>Street Dance Teens</strong></li>
                    <li>Mandag kl. 16:00 - 17:00</li>
                </div>
                
            </ul>
        </div>
    </section>
    <section class="SoMe">
        <div class="icons">
            <img src="../svg/fb.svg" alt="Facebook ikon">
            <img src="../svg/insta.svg" alt="Instagram ikon">
            <img src="../svg/kort.svg" alt="Kort ikon">
            <img src="../svg/mail.svg" alt="Mail ikon">
            <img src="../svg/mobil.svg" alt="Mobil ikon">
        </div>
        <p>@Dansestudiet 2023</p>
    </section>
</footer>

<style>
    .boks {
        padding: 0.5rem;
        border: 1px solid black;
        margin-bottom: 1rem;
    }

    h2 {
        padding-bottom: 1rem;
        font-weight: 200;
    }
    .begivenheder {
        
    }
    .info {
        background-color: var(--white);
        display: flex;
        justify-content: space-around;
        padding: 5rem;
        font-weight: 200;
    }

    .info ul {
        list-style-type: none;
    }

    .SoMe {
        background-color: var(--yellow);
        text-align: center;
        padding: 5rem;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 2rem;
    }
</style>