<header>

<ul class="header">
    <img src="../svg/logo.svg" alt="Logo">
    <div class="menu">
    <li>UNDERVISERE</li>
    <li>WORKSHOPS</li>
    <li>SKEMA</li>
<div class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
</ul>
</div>
</div>
 </div> 

</header>


 <style>
.burger-menu {
  width: 40px;
  height: 15px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5em;
}

.line {
  width: 100%;
  height: 4px;
  background-color: var(--yellow);
}

li {
    margin-left: 5em;
    color: var(--yellow);
}

.menu {
    display: flex;
    margin-left: 45rem;
    margin-top: 1em;
    cursor: pointer;
}

.header {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    list-style-type: none;
    position: absolute;
}

img {
    display: flex;
    justify-content: flex-start;

}
</style>