<section>
    <img src="../img/forsidedame.png" alt="">
    <div class="headertxt">
        <h1>Dansestudiet</h1>
        <p>Experimental Contemporay, Agri, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne Dans, Smidighedstræning, House, Breakdance, Fusion Contemporaey, Yoga, Waacking, Workshops. mm. Vi har mere end 50 danseklasser om ugen for alle aldre og niveauer!</p>    
    </div>
   </section>


<style>

    section {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        height: 100vh;
    }

    h1 {
        position: absolute;
        top: 60%;
        left: 5%;
    }
.headertxt {
    max-width: 65ch;
}
    p {
        position: absolute;
        top: 90%;
        left: 5%;
        max-width: 65ch;
        text-align: left;
        font-size: x-large;
        color: var(--yellow);
    }
</style>