---
import BTN1 from "./BTN1.astro";
---

<section class="hero">
    <img src="../img/forsidedame.png" alt="">
    <div class="headertxt">
        <h1>Dansestudiet</h1>
        <p>Experimental Contemporay, Agri, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne Dans, Smidighedstræning, House, Breakdance, Fusion Contemporaey, Yoga, Waacking, Workshops. mm. Vi har mere end 50 danseklasser om ugen for alle aldre og niveauer!</p>    
        <div class="btn1">
            <BTN1 data="SE SKEMA"/>
        </div>
    </div>
   </section>

<section class="velkommen">
    <h2>VELKOMMEN TIL DANSESTUDIET. <br>
        TILMELDING TIL EFTERÅRSSÆSONEN 2023 <br>
        ER FORTSAT ÅBEN.
        </h2>
</section>


<style>
    .btn1 {
        position: absolute;
        top: 115%;
        left: 5%;
    }
    .velkommen {
        background-color: var(--yellow);
        text-align: center;
        padding: 5rem;
    }

    h2 {
        font-size: 2.8rem;
        font-weight: 600;
    }

    .hero {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    h1 {
        position: absolute;
        top: 60%;
        left: 5%;
    }
.headertxt {
    max-width: 65ch;
}
    p {
        position: absolute;
        top: 90%;
        left: 5%;
        max-width: 65ch;
        text-align: left;
        font-size: x-large;
        color: var(--yellow);
    }
</style>