<section class="instaSection">
    <section class="head">
        <h2>@dansestudietaarhus</h2>
        <img src="../svg/insta2.svg" alt="">
    </section>
    
    <section class="imgSquare">
        <div class="img1">
            <img src="../img/instaimg1.png" alt="">
            <img src="../img/instaimg3.png" alt="">
        </div>
        <div class="img2">
            <img src="../img/instaimg2.png" alt="">
            <img src="../img/instaimg4.png" alt="">
        </div>
    </section>
</section>


<style>

    .instaSection {
        background-color: var(--yellow);
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
    h2 {
        font-size: 4.5rem;
        font-weight: 400;
        padding-right: 1.1rem;
    }

    .head {
        display: flex;
        justify-content: center;

    }

    .imgSquare {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-content: center; /* Center the grid items horizontally */
        align-items: center; /* Center the grid items vertically */
        gap: 1.5rem;
        margin: 8rem;
        }

    .img1 {
        align-items: right; 
    }
    .img2 {
        align-items: left;
    }

    .imgSquare img {
        padding-bottom: 1.5rem;
    }

    .img1, .img2 {
            display: flex;
            flex-direction: column;
        }
</style>