---
import BTN2 from "./BTN2.astro";
---
<section class="underviserne">
    <h2>25 TOP KOMPETENTE <br> UNDERVISERE</h2>
    <p>Vi har samlet et unikt underviser-team!</p>
    <br>
    <BTN2 data="MØD DEM HER"/>
</section>


<style>

    .underviserne {
        background-color: var(--yellow);
        text-align: left;
        padding: 5rem;
    }

    h2 {
        font-size: 4rem;
        font-weight: 500;
    }

    p {
        font-size: larger;
        padding-bottom: 1rem;
    }
