---
import "../styles/style.css"
import Header from "../components/Header.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
		name="description"
		content="Denne website er for Dansestudiet i Aarhus. Dansestudiet ligger centralt i Århus, og udbyder klasser og undervisning inden for klassisk
		og moderne dans til alle aldre."
	  />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dansestudiet</title>
	</head>
	<body>
		<h1>Dansestudiet</h1>
        <slot>
	</body>
</html>
